.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  font-size: 15px;
  font-family: "Lexend Deca", "Big Shoulders Display", sans-serif;
  margin: 0;
}

/* TYPOGRAHY */
img {
  width: 25%;
}
h1 {
  font-family: "Big Shoulders Display";
  font-weight: 700;
  font-size: 48px;
  padding: 15px;
  text-transform: uppercase;
  color: hsl(0, 0%, 95%);
}
p {
  font-family: "Lexend Deca";
  font-weight: 400;
  color: hsla(0, 0%, 100%, 0.75);
  margin-bottom: 150px;
  line-height: 2rem;
  padding: 15px;
}

button:hover {
  background-color: gray;
}
/* Layout */

.container {
  width: 100%;
}

@media (min-width: 1028px) {
  .container {
    width: 80%;
    height: auto;
    display: flex;
    margin: auto;
    margin-top: 7%;
  }
  .box-1 {
    border-radius: 15px 0 0 15px;
  }
  .box-3 {
    border-radius: 0 15px 15px 0;
  }
}

.box-1,
.box-2,
.box-3 {
  padding: 80px;
}

/* Design of coloumns */

.box-1 {
  background-color: hsl(31, 77%, 52%);
}

.box-2 {
  background-color: hsl(184, 100%, 22%);
}

.box-3 {
  background-color: hsl(179, 100%, 13%);
}

/* Design of buttons */
button {
  background-color: hsl(0, 0%, 95%);
  border: none;
  padding: 20px 60px;
  border-radius: 25px;
  font-family: "Lexend Deca";
  font-size: 15px;
}
.btn-1 {
  color: hsl(31, 77%, 52%);
}
.btn-2 {
  color: hsl(184, 100%, 22%);
}

.btn-3 {
  color: hsl(179, 100%, 13%);
}
